* { box-sizing: border-box; }
body {
  background-color: white;
  font-family: 'Noto Sans', sans-serif;
}
h1 {
  color: black;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  margin-left: 2em;
  margin-right: 1em;
  margin-top: 2.25em;
  float: left;
}
h2 {
  font-family: Lucida Bright, Georgia, serif;
}
header {
  width: 100%;
  height: 5em;
}
a {
  text-decoration: none;
}
p { 
  color: black; 
  font-size: 0.9em;
}
ul {
  list-style-type: none;
}
article img {
  vertical-align: middle;
  padding-left: 1em;
  height: 15em;
}
nav {
  width: 100%;
  height: 10em;
}
nav li {
  float: left;
  text-align: center;
  width: 15%;
  margin-left: 1em;
  margin-top: 4.5em;
}
nav a {
  border-bottom: 2px solid slategrey;;
  padding: 0.25em;
}
nav a:hover {
  color: slategrey;;
  border-bottom: 2px solid black;
}
a:link {
  color: slategrey;;
  text-decoration: none;
}
a:visited {
  color: slategrey;;
  text-decoration: none;
}
a:hover {
  color: silver;
}
a:active {
  color: black;
}
article {
  clear: both;
  width: 90%;
  margin: auto;
  padding: 2em;
}
article li {
  margin-top: 2em;
  margin-left: 15%;
  float: left;
}
article img:hover {
  opacity: 0.6;
}
footer {
  clear: both;
  margin-left: 40%;
  margin-bottom: 3em;
}
footer li {
  float: left;
  padding: 0.5em;
  margin-top: 5em;
}
footer a { 
  color: darkblue; 
}
footer p {
  clear: both;
  padding-left: 1.5em;
}
div img {
  float: left;
  height: 10em;
  margin-top: 2em;
  margin-left: 4em;
}